<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="notificationHub"
                 type="Notifications.Sender.Configuration.SenderConfigurationSection, Notifications.Sender"
                 allowLocation="true"
                 allowDefinition="Everywhere"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <notificationHub port="1234">
    </notificationHub>
</configuration>